* {
  text-align: center;
}

.main-heading {
  text-align: center;
  font-size: 2.625rem;
  line-height: 3.375rem;
  font-weight: 750;
}

.main-content {
  display: flex;
  height: 65vh;
  width: 90vw;
  margin: auto;
}

.image {
  background-image: url(../public/images/image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 35%;
}

.functionality {
  width: 65%;
}

.pass-here {
  box-sizing: border-box;
  padding: 1rem;
  padding-right: 2rem;
  border-radius: 50px;
  margin: 0.75rem 1rem;
  width: 100%;
  border: 1px solid #C5D6E0;
  box-shadow: inset 0px 2px 4px rgba(7, 29, 43, 0.12);
  font-size: large;
  text-align: left;
}

.pass-here:focus {
  outline: none;
}

.btn:hover {
  box-shadow: 0px 15px 20px rgba(1, 153, 255, 0.4);
  transform: translateY(-7px);
}

.btn {
  background-color: #0070f6;
  border: none;
  color: white;
  padding: 1.2rem 1.5rem;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  border-radius: 45px;
  margin: auto;
  letter-spacing: 2px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

.btn:active {
  transform: translateY(-1px);
}

.pass div label {
  float: right;
  top: -70%;
  right: 2%;
}

.pass div {
  width: 75%;
  margin-left: 1rem;
  height: 5rem;

}

.pass {
  display: flex;
  margin-top: 4rem;
}

.strength {
  font-weight: 500;
  padding: 0.35rem 0.75rem;
  position: relative;
  right: 15%;
  border-radius: 7px;
}

.strength.weak {
  background-color: rgb(255, 67, 67);
}

.strength.medium {
  background-color: orange;
}

.strength.strong {
  background-color: #9ae536;
}

.label-text p {
  margin: 0px;
  text-align: left;
}

.label-text p span {
  font-weight: 450;
}

.label-text {
  font-size: 1.3rem;
  line-height: 2.25rem;
  width: 20%;
  font-weight: 350;
  text-align: left;
}

.section div {
  margin: 0px 1rem;
}

.section input {
  border: 1px solid #C5D6E0;
}

.section {
  display: flex;
  justify-content: space-around;
  margin: 1.35rem 0px;
}

.slider-container {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: sans-serif;
}

.circle-button {
  width: 4rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #333;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 300px;
  height: 10px;
  background: #eee;
  border-radius: 10px;
  outline: none;
  transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border: 2px solid #007aff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="range"]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: white;
  border: 2px solid #007aff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-value {
  margin-left: 15px;
  font-weight: bold;
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: sans-serif;
  width: 60%;
}

.option {
  font-weight: 700;
  font-size: larger;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.option input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 7px;
  box-shadow: inset 0px 2px 4px rgba(7, 29, 43, 0.12);
  border: 1px solid #C5D6E0;
  background-color: white;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
}

.option input[type="checkbox"]::after {
  content: "✓";
  color: #0b0c0d;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.option input[type="checkbox"]:checked::after {
  opacity: 1;
}

.option label {
  font-weight: bold;
  font-size: 1.2rem;
  color: #0b0c0d;
}



/*Responsiveness*/

@media screen and (max-width: 960px) {
  .main-content {
    width: 100vw;
    flex-direction: column;
    height: auto;
  }

  .image {
    width: 80vw;
    margin: auto;
    height: 15rem;
  }

  .functionality {
    margin: auto;
    width: auto;
  }
}

@media screen and (max-width: 690px) {
  .pass{
    flex-direction: column;
    align-items: center;
  }

  .label-text{
    width: auto;
    margin: 1rem !important;
  }

  .section{
    width: auto;
    margin: 2rem auto;
  }

  .section div{
    margin: auto;
  }
}

@media screen and (max-width: 560px) {
  .section{
    flex-direction: column;
    margin: 2rem;
  }
  .label-text{
    margin: auto 2rem;
  }

  .slider-container{
    width: 100%;
  }

  .circle-button {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
  }

  .functionality{
    margin: 0px;
  }

  .options-container{
    flex-wrap: wrap;
    width: auto !important;
    height: 7rem;
  }
}
@media screen and (max-width: 450px) {
  .circle-button {
    width: 65px;
    height: 50px;
  }
}

@media screen and (max-width: 385px) {
  .circle-button {
    height: 50px;
    width: 85px;
  }
}